<%- include("../../views/partials/admin/header") %>

  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
  </head>
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Orders</h2>
    </div>
  </div>
  <header class="card-header text-center mb-20 d-flex gap-5">
    <form action="/admin/orders" method="get" class="d-inline">
      <div class="input-group input-group-sm border border-1 border-grey rounded-pill"
        style="width: 500px; margin-left: 230px;">
        <input type="text" class="form-control border-0 rounded-pill" placeholder="Search orders or users"
          name="search">
        <button class="btn border-0" type="submit">Search</button>
      </div>
    </form>
  </header>
  <div class="right mt-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>User</th>
          <th>Product(s)</th>
          <th>Total Amount</th>
          <th>Payment Method</th>
          <th>Order Date</th>
          <th>Order status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% orders.forEach(order=> { %>
          <tr>
            <td>
              <%= order._id %>
            </td>
            <td>
              <%= order.userId ? order.userId.name : "Unknown User" %>
            </td>
            <td>
              <% order.items.forEach(item=> { %>
                <div class="mb-2">
                  <%= item.productId.productName %> (Qty: <%= item.quantity %>, ₹<%= item.price %>)<br>
                </div>
                <% }); %>
            </td>
            <td>
              ₹<%= order.totalAmount %>
            </td>
            <td>
              <%= order.paymentMethod %>
            </td>
            <td>
              <%= order.orderDate.toDateString() %>
            </td>
            <td>
              <%= order.orderStatus %>

            </td>
            <td>
              <a href="/admin/orders/<%= order._id %>">View Order</a>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>

  <div class="container mt-3">
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
        <% for(let i=1; i <=totalPages; i++) { %>
          <li class="page-item <%= (i === currentPage) ? 'active' : '' %>">
            <a class="page-link" href="?page=<%= i %>" aria-current="<%= (i === currentPage) ? 'page' : '' %>">
              <%= i %>
            </a>
          </li>
          <% } %>
      </ul>
    </nav>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>